{% extends "layouts/auth.njk" %}

{% block body %}
  <form action="signin" method="post">
    <img src="/images/logo.svg" heigh="40" />

    {% include "partials/flash_messages.njk" %}

    <input id="email" name="email" type="email" placeholder="E-mail" />
    <input id="password" name="password" type="password" placeholder="Senha" />

    <button type="submit">Acessar</button>

    <a href="/signup">Criar conta</a>
  </form>
{% endblock %}
